* {
  box-sizing: border-box;
}
body {
  background-color: rgb(110, 183, 218);
}
article {
  margin: 0 auto;
  text-align: center;
  background-color: rgb(34, 31, 31);
  border-radius: 50px;
  height: 383px;
  width: 666px;
}
h1 {
  color: rgb(90, 90, 248);
}
.phrase {
  color: white;
}
div img {
  margin-top: -46px;
  width: 92px;
  height: 92px;
  display: inline-block;
}
form {
  display: block;
}
button {
  width: 161px;
  height: 52px;

  font-size: 15px;
  text-transform: uppercase;

  border-radius: 10px;
  font-weight: 700;
  color: white;
  margin: 15px;
  padding: 10px;
  background-color: rgb(99, 138, 223);
}
input {
  width: 250px;
  height: 52px;
  margin: 10px;

  border-radius: 10px;
}
footer p {
  color: rgb(170, 165, 165);
}
